@tailwind base;
@tailwind components;
@tailwind utilities;


 html {
	height: 100%;
	width: 100%;
}

body, html {
	background-color: #000000;
}

input:checked + label {
	border-color: transparent;
	background:#6366f1;
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
		border: 0;
}

#submit_request{
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#submit_request:hover{
	background-image: linear-gradient(135deg, #4f63bb 0%, #60348b 100%);
}

#home_create {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
	background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



#home_create:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#home_create:focus {
    outline: none;
}


.home_title {
	background-image: linear-gradient(-20deg, #cdbaff 30%, #cbfdfb 100%);
	text-shadow: 1px 1px 10px rgba(228, 228, 228, 0.25);
	 background-size: 100%;
	 background-repeat: repeat;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent; 
	 -moz-background-clip: text;
	 -moz-text-fill-color: transparent;
}

.home_title_nav {
	background-image: linear-gradient(-20deg, #cdbaff 30%, #cbfdfb 100%);
	text-shadow: 1px 1px 10px rgba(228, 228, 228, 0.1);
	 background-size: 100%;
	 background-repeat: repeat;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent; 
	 -moz-background-clip: text;
	 -moz-text-fill-color: transparent;
}
